#tech {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    background-image: url(https://ak4.picdn.net/shutterstock/videos/17413294/thumb/1.jpg);
    image-rendering: auto;
    width: auto;
    height: auto;
}