#tech {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    background-image: url(https://g.foolcdn.com/image/?url=https%3A//g.foolcdn.com/editorial/images/505008/getty-stock-market-chart.jpg&w=2000&op=resize);
    image-rendering: auto;
    width: auto;
    height: auto;
}
p{
    color: red;
    font-family: sans-serif;
}