<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- buttons to move from page to page,
    each button has an icon related to what it 
    has on that page -->
    <ion-button [routerLink]="['/home']" color="light" slot="secondary">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/tech-news']" color="light" slot="secondary">
      <ion-icon name="hardware-chip-sharp"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/bitcoin-market-news']" color="light" slot="secondary">
      <ion-icon name="logo-bitcoin"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/business-news']" color="light" slot="secondary">
      <ion-icon name="newspaper-sharp"></ion-icon>
    </ion-button>
    <ion-title size="small" slot="end" id="headline">Weazel News</ion-title>
  </ion-toolbar>
</ion-header>
<!-- This is for the content of the api in a card format,
    using the ngFor to get the data from the data been sent from,
  the api-->
<ion-content >
  <ion-card *ngFor="let science of scienceData" id="tech">
    <ion-card-header>
      <a href="{{science.url}}">
        <img src="{{science.urlToImage}}"></a>
      <ion-card-subtitle>{{science.author}}</ion-card-subtitle>
      <ion-card-title color="warning">{{science.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{science.description}}</p>
      <br>
      <p>{{science.publishedAt}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>