#tech {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    background-image: url(https://i.pinimg.com/564x/40/dd/b3/40ddb3bebdcd058d28d76f27304a8c7b.jpg);
    image-rendering: auto;
    width: auto;
    height: auto;
}

p{
    color: black;
}