#weazel{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 auto; 
  float: none; 
  width: auto;
  height: auto;
  color: red;
  
}

.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}
