<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- buttons to move from page to page,
    each button has an icon related to what it 
    has on that page -->
    <ion-button [routerLink]="['/tech-news']" color="light" slot="secondary">
      <ion-icon name="hardware-chip-sharp"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/bitcoin-news']" color="light" slot="secondary">
      <ion-icon name="logo-bitcoin"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/stock-market-news']" color="light" slot="secondary">
      <ion-icon name="flask-sharp"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/business-news']" color="light" slot="secondary">
      <ion-icon name="newspaper-sharp"></ion-icon>
    </ion-button>
    <ion-title size="small" slot="end" id="weazel">Weazel News</ion-title>
  </ion-toolbar>
</ion-header>
<!-- This is for the content of the api in a card format,
    using the ngFor to get the data from the data been sent from,
  the api-->
<ion-content [fullscreen]="true" id="pic">
  <div class="hr"> </div>
  <br>
  <h1 id="headline">News Headlines</h1>
  <!-- in this card i have an ngFor and an ngIf to get only 2 stories
      from a number of services anymore than 3 and it will cause to much white spacing
  -->
  <ion-card *ngFor="let hme of homeData; let i = index" id="tech">
    <div *ngIf="i<2">
      <ion-card-header>
        <a href="{{hme.url}}">
          <img src="{{hme.urlToImage}}"></a>
        <ion-card-subtitle>{{hme.author}}</ion-card-subtitle>
        <ion-card-title color="warning">{{hme.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{hme.description}}</p>
        <br>
        <p>{{hme.publishedAt}}</p>
      </ion-card-content>
    </div>
  </ion-card>
  <!-- This is the headline for the bitcoin news -->
  <ion-card *ngFor="let bit of bit1Data; let i = index" id="tech">
    <div *ngIf="i<2">
      <ion-card-header>
        <a href="{{bit.url}}">
          <img src="{{bit.urlToImage}}"></a>
        <ion-card-subtitle>{{bit.author}}</ion-card-subtitle>
        <ion-card-title color="warning">{{bit.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{bit.description}}</p>
        <br>
        <p>{{bit.publishedAt}}</p>
      </ion-card-content>
    </div>
  </ion-card>
  <!-- THIs is the news for the  -->
  <ion-card *ngFor="let bus1 of bus1Data; let i = index" id="tech">
    <div *ngIf="i<2">
      <ion-card-header>
        <a href="{{bus1.url}}">
          <img src="{{bus1.urlToImage}}"></a>
        <ion-card-subtitle>{{bus1.author}}</ion-card-subtitle>
        <ion-card-title color="warning">{{bus1.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{bus1.description}}</p>
        <br>
        <p>{{bus1.publishedAt}}</p>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-button [routerLink]="['/tech-news']" color="light">
    <ion-icon name="hardware-chip-sharp"></ion-icon>
  </ion-button>
  <ion-button [routerLink]="['/bitcoin-news']" color="light">
    <ion-icon name="logo-bitcoin"></ion-icon>
  </ion-button>
  <ion-button [routerLink]="['/stock-market-news']" color="light">
    <ion-icon name="flask-sharp"></ion-icon>
  </ion-button>
  <ion-button [routerLink]="['/business-news']" color="light">
    <ion-icon name="watch-sharp"></ion-icon>
  </ion-button>
  <ion-title size="small" slot="end" id="weazel">Weazel News</ion-title>
</ion-content>